<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gmsyrimis.c4q.nyc.cammy" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" >
    </uses-permission>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DemotivationalActivity"
            android:label="Demotivational" >
        </activity>
        <activity
            android:name=".SelectStyleActivity"
            android:label="Select style" >
        </activity>
        <activity
            android:name=".VanillaActivity"
            android:label="Vanilla" >
        </activity>
        <activity
            android:name=".PopMemes"
            android:label="@string/title_activity_pop_memes" >
        </activity>
        <activity
            android:name=".PopMemeEditor"
            android:label="@string/title_activity_pop_meme_editor" >
        </activity>
    </application>

</manifest>
